<!doctype html>
<html xmls:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="UTF-8" />
<title>Produits</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
	<div layout:fragment="content">

		<div class="container">

			<div class="panel panel-default">
				<div class="panel-heading">Interdiction</div>
				<div class="panel-body">

					<h3 class="red">Vous n'êtes pas autorisé à faire cette action !</h3>

				</div>
			</div>
		</div>
	</div>
</body>
</html>